
.goods-list {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.goods-item {
    border: 1px solid wheat;
    width: 150px;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 10px 10px;
    display: flex;
    flex-direction:  column ;
}


.header{
    height: 75px;
    background-color: rgb(0, 217, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-icon-shopSearch{
    display: flex;
}

.header-icon-burgerBascet{
    display: flex;
}

.header-icon-shop{
    width: 50px;
    height: 50px;
   
    background-size: 75%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    background-position: center;
}

.header-icon-search{
    width: 50px;
    height: 50px;
    
    background-size: 65%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    background-position: center;
    margin-left: 35px;
}

.header-icon-burger{
    width: 50px;
    height: 50px;
    
    background-size: 65%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    background-position: center;
}

.header-icon-bascet{
    width: 50px;
    height: 50px;
    
    background-size: 65%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    background-position: center;
    margin-left: 35px;
}

.button{
    background-color: rgb(0, 217, 255);;
}

.conteyner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.input{ 
    height: 25px;
    margin-left: 50px;
    margin-top: 10px;
}

.button-search{
    background-color: rgb(0, 217, 255);
    height: 32px;
    margin-top: 10px;
}


.bascet{
    border: 1px solid black;
    margin-top: 100px;
    height: 150px;
    width: 100%;
}

.bascet-name{
    text-align: center;
    margin: 0;
}

    


